.header {
  align-items: center;
  background-color: $turquoise;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em;

  &__title {
    font-size: 1.6rem;
  }

  &__profile {
    align-items: center;
    display: flex;
    font-size: 1.5em;

    img {
      height: 1.5em;
      margin-left: 0.5em;
      width: 1.5em;
    }
  }
}
